@using Sentinel.Web.Models.Gallery
@using Sentinel.Web.Resources.Gallery
@model ViewGalleryVM

@{
	ViewBag.Title = this.Model.Title;
}

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<a class="navbar-brand" href="@Url.Action( MVC.Gallery.ViewGalleries() )"><span class="glyphicon glyphicon-chevron-left"></span> @ViewGalleryRes.Back</a>
		@Html.Partial( MVC.Shared.Views._LogOnPartial )
	</div>
</nav>

<div id="ViewGalleryPage" class="container">
	<div class="page-header">
		<h1>@Model.Title</h1>
	</div>

	<div id="gallery">
		@foreach( ViewGalleryImageVM image in Model.Images )
		{
			<a href="#" data-full="@Url.Content( image.ImageUrl )">
				<img src="@Url.Content( image.ThumbnailUrl )" />
			</a>
		}
	</div>

	<div id="preview" style="display: none;">
		<a href="#">
			<img class="img-responsive" />
		</a>
	</div>
</div> <!-- /container -->


@section PageScripts
{
	@Scripts.Render( "~/bundles/js/ViewGalleryPage" );
}
