@using Sentinel.Web.Models.Gallery
@model Sentinel.Web.Models.Gallery.ViewGalleriesVM
@{
	ViewBag.Title = "Képtár";
}

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<a class="navbar-brand" href="#">@ViewBag.Title</a>
		@Html.Partial("_LoginPartial")
	</div>
</nav>

<div class="container">
	<div class="page-header">
		<h1>Sorozatok</h1>
	</div>
		
	@foreach( SeriesVM series in Model.Series )
	{
		<div class="media">
			<a class="pull-left" href="@Url.Action( "ViewGallery", new { folderName = series.FolderName } )">
				<img class="media-object my-thumbnail" src="@Url.Content( series.ThumbnailUrl )" alt="@series.Title" />
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					@Html.ActionLink( series.Title, "ViewGallery", new { folderName = series.FolderName } )
				</h4>
				<span class="badge">@series.Count kép</span>
			</div>
		</div>			
	}		
</div> <!-- /container -->