@using Sentinel.Web.Models.Gallery
@using Sentinel.Web.Resources.Gallery

@model ViewGalleriesVM
@{
	ViewBag.Title = ViewGalleriesRes.Title;
}

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<a class="navbar-brand" href="#">@ViewBag.Title</a>
		@Html.Partial( MVC.Shared.Views._LoginPartial )
	</div>
</nav>

<div class="container">
	<div class="page-header">
		<h1>@ViewGalleriesRes.PageHeading</h1>
	</div>
		
	@foreach( SeriesVM series in Model.Series )
	{
		<div class="media">
			<a class="pull-left" href="@Url.Action( MVC.Gallery.ViewGallery( series.FolderName ) )">
				<img class="media-object my-thumbnail" src="@Url.Content( series.ThumbnailUrl )" alt="@series.FolderName" />
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					@Html.ActionLink( series.FolderName, MVC.Gallery.ViewGallery( series.FolderName ) )
				</h4>
				<span class="badge">@series.Count @ViewGalleriesRes.ImageCount</span>
			</div>
		</div>			
	}		
</div> <!-- /container -->